$main-color: #24447b;
$second-color: #2a4d88;
$third-color: #305493;
$fourth-color: #3868b1;
$fifth-color: #4b7cc7;
$sixth-color: #c9dbef;

$seventh-color: #2b3649;//footer gradient
$eight-color: #2c436a;
$ninth-color: #1a3056;
@import "_main.scss"; 

