$main-color: #1c4b51;
$second-color: #2d717a;
$third-color: #559499;
$fourth-color: #76a9ad;
$fifth-color: #9dc3c6;
$sixth-color: #e7f1f2;

$seventh-color: #1b545b;
$eight-color: #21676f;
$ninth-color: #1a474d;
@import "_main.scss";