$main-color: #6d161e;
$second-color: #a26f6e;
$third-color: #c3a7a4;
$fourth-color: #d1b9b7;
$fifth-color: #e4cbc7;
$sixth-color: #fbe8e4;


$seventh-color: #642128;//footer gradient
$eight-color: #6e252c;
$ninth-color: #630d16;
@import "_main.scss";