$main-color: #b73a24;
$second-color: #c74029;
$third-color: #cdbbb7;
$fourth-color: #e2d3d0;
$fifth-color: #eedfda;
$sixth-color: #ffeeea;

$seventh-color: #b34939;//footer gradient
$eight-color: #c5523f;
$ninth-color: #af3621;
@import "_main.scss";