$main-color: #423352;
$second-color: #82748e;
$third-color: #998c9e;
$fourth-color: #aea1b5;
$fifth-color: #d1c4de;
$sixth-color: #eeecef;


$seventh-color: #42364e;
$eight-color: #51425f;
$ninth-color: #352645;
@import "_main.scss";