$main-color: #144c29;
$second-color: #388456;
$third-color: #8eb298;
$fourth-color: #9dbfa6;
$fifth-color: #bbd4c1;
$sixth-color: #e7ede9;


$seventh-color: #194127;//footer gradient
$eight-color: #1d5031;
$ninth-color: #143a23;
@import "_main.scss";
